body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #607d8b;
}

a:hover {
  color: #78909c;
}

h1 {
  color: #696969;
  font-weight: bold;
}
h2 {
  color: #2f4f4f;
  font-weight: bold;
}
h3 {
  color: #2f4f4f;
}
h4,
h5,
h6 {
  color: #333;
}

/* pictures and images must be defined as display: block;
  Otherwise they are considered to be fonts and show font descenders
  below the baseline.
  https: //stackoverflow.com/questions/31444891/mystery-white-space-underneath-image-tag/31445364#31445364
  */
img {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  margin: 0;
}

picture {
  background: transparent;
  display: block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

form {
  margin: 50 auto;
  width: 540px;
  padding: 1em;
  border: 1px solid #2f4f4f;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 300px;
  text-align: left;
}

input,
textarea {
  font: 1em sans-serif;
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #2f4f4f;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 15em;
}

.button {
  padding-left: 210px;
  margin-top: 20px;
}

button {
  margin-left: 0em;
  cursor: pointer;
  background-color: #bdbdbd;
}

#rechts {
  float: right;
  width: 195px;
  height: 263px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid grey;
}

#unten {
  float: right;
  width: 195px;
  height: 263px;
  margin-left: 0px;
  margin-right: 0px;
}

#links {
  float: left;
  width: 390px;
  height: 500px;
  position: absolute;
  margin-left: 14px;
  margin-right: 0px;
  margin-top: -34px;
}

.boxed {
  background: transparent;
  border: 0px solid;
  box-shadow: 0 0 1px rgbg(0, 0, 0, 0.4);
  margin-left: 0px;
  margin-right: 0px;
}

.center {
  text-align: left;
  background: transparent;
  line-height: 1;
  border: 0px solid;
  margin-left: 475px;
  margin-top: 40px;
}

.below {
  text-align: left;
  background: transparent;
  line-height: 1.5;
  border: 0px solid;
  margin-left: 475px;
  margin-top: 20px;
}

.box1 {
  text-align: center;
  background-color: #2f4f4f;
  line-height: 1.5;
  border: 3px solid #2f4f4f;
  margin-left: 0px;
  margin-top: 20px;
  margin-right: 500px;
}

.box2 {
  text-align: center;
  background-color: #2f4f4f;
  line-height: 1.5;
  border: 3px solid #2f4f4f;
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 500px;
}

.box3 {
  text-align: center;
  background-color: #2f4f4f;
  line-height: 1.5;
  border: 3px solid #2f4f4f;
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 500px;
}

.box4 {
  text-align: center;
  background-color: #2f4f4f;
  line-height: 1.5;
  border: 3px solid #2f4f4f;
  margin-left: 500px;
  margin-top: -206.5px;
  margin-right: 0px;
}

.box5 {
  text-align: center;
  background-color: #2f4f4f;
  line-height: 1.5;
  border: 3px solid #2f4f4f;
  margin-left: 500px;
  margin-top: 40px;
  margin-right: 0px;
}

.box6 {
  text-align: center;
  background-color: #2f4f4f;
  line-height: 1.5;
  border: 3px solid #2f4f4f;
  margin-left: 500px;
  margin-top: 40px;
  margin-right: 0px;
}
